/* 기본 레이아웃 */
body {
    background-color: #222426;
    color: white;
    font-family: 'Spoqa Han Sans Neo', 'Noto Sans CJK KR Regular', 'sans-serif';
    letter-spacing: 0.02em;
    word-break: keep-all;
}
header {
    background-color: #4a56a8;
    height: 3.5rem;
}
main {
    min-height: calc(100vh - 3.5rem);
}

nav {
    height: 3.5em;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav > * {
    padding-right: 0.25rem;
}
.nav-icon img {
    height: 3rem;
    width: 3rem;
    vertical-align: middle;
}
.nav-logo {
    line-height: 3rem;
    font-size: 1.75rem;
    font-weight: bold;
}
.nav-path {
    padding-top: 0.5rem;
    line-height: 2rem;
    height: 2rem;
    font-size: 1.25rem;
    flex: 0 9 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-path a {
    display: flex;
}
.nav-icon {
    flex: 0 1 auto;
}
.nav-right {
    flex: 1 0 auto;
    order: 10;
    display: flex;
    flex-direction: row-reverse;
}
.nav-setting {
    text-align: right;
}

section {
    padding: 1rem 0;
}
article {
    font-weight: 300;
    font-size: 1.125rem;
    padding-top: 2rem;
}

.container {
    margin: 0 auto;
    max-width: 80rem;
    width: 90%;
}
@media only screen and (min-width: 50rem) {
    .container {
        width: 85%;
    }
}
@media only screen and (min-width: 80rem) {
    .container {
        width: 80%;
    }
}

/* 전역 CSS */
a:link, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
}
button {
    color: #dddddd;
    background-color: transparent;
    border: 2px solid #dddddd;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul, ol, p {
    line-height: 1.6em;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #303335;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    outline: none;
}
option {
    background-color: inherit;
    color: inherit;
}
input {
    border-radius: 0;
}
button {
    padding: 0;
}
code {
    border: 1px solid #ffd84b;
    border-radius: 0.25rem;
    background-color: #4d4216;
    font-size: 0.9em;
    padding: 0.2em 0.3em;
    margin: 0 0.1em;
}
hr {
    margin-top: 3rem;
}
.material-icons {
    font-size: 1.5rem;
    line-height: inherit;
    width: 1em;
    overflow: hidden;
    user-select: none;
}
.material-icons::after {
    content: attr(data-icon);
}
.with-icon {
    line-height: 2rem;
}
.with-icon .material-icons {
    vertical-align: middle;
    padding-right: 0.25em;
}
a.url {
    text-decoration: underline;
}
a.url:hover {
    text-decoration: none;
    background: #dddddd;
    color: #181a1b;
}
/* 클랜 이름 flex CSS */
.clan-name {
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.clan-callsign {
    padding-left: 0.25rem;
    flex: 0 0 auto;
}
.clan-callsign::before {
    content: "[";
}
.clan-callsign::after {
    content: "]";
}
.clan-motto {
    color: #9f9f9f;
    font-style: italic;
}
.clan-motto::before, .clan-motto::after {
    content: '"';
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-webkit-keyframes popup {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes popup {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

/* /clan, 검색창 */

.clan-search {
    padding: 1.5rem 0 1rem;
    width: 100%;
    display: flex;
    overflow: hidden;
}
input[type=search] {
    box-sizing: border-box;
    flex: 1 1 auto;
    height: 2.5rem;
    border: 0;
    border-bottom: 2px solid white;
    border-radius: 0;
    background: #181a1b;
    line-height: 2.5rem;
    transition: 0.5s;
    color: #FFFFFF;
    padding: 0 1em;
    width: 100%;
}
input[type=search]:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid yellow;
}
input[type=search]::-webkit-search-cancel-button{
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    background: url("/static/img/clear-white-18dp.svg") no-repeat 50% 50%;
    background-size: auto;
    pointer-events: none;
    opacity: 0;
}
input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all;
}

.clan-nav {
    display: flex;
    align-items: center;
    height: 2.5rem;
    margin: 1rem 0;
}
.clan-nav > * {
    margin: 0 0.5rem;
}
.desc-txt {
    color: #9f9f9f;
}

/* 클랜 목록 */

.clan-list {
    font-size: 1.25rem;
    box-sizing: border-box;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
.clan-info {
    margin-bottom: 0.5rem;
}
.clan-info.bookmark {
    order: -1;
}
.clan-info.bookmark .clan-icon {
    color: #ffd84b;
}
.clan-info-row {
    box-sizing: border-box;
    border: 1px solid #43494c;
    padding: 0.25rem 0.5rem;
    line-height: 1.75rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
}
.clan-info-row:hover {
    background-color: #43494c;
}
.clan-info-row li {
    display: block;
    margin-right: 0.2rem;
}
.col.clan-icon {
    flex: 0 0 auto;
}

.clan-info-row .clan-motto {
    font-size: 1.125rem;
    flex: 0 9 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-right: 0.25rem;
}

/* 유저 목록 페이지 */
.user-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.75rem 0.25rem 0.5rem;
    height: 2.75rem;
}
.nav-online {
    box-sizing: border-box;
    padding-left: 1rem;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-online h2 {
    margin: 0;
}
.nav-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2.75rem;
    margin-right: 0.5em;
    flex: 0 0 auto;
}
.nav-info * {
    font-size: 1em;
    line-height: 1.1em;
    text-align: end;
}
.nav-btn-wrap {
    display: flex;
    justify-content: flex-end;
    height: 2.75rem;
}
.nav-btn-wrap button {
    height: 2.75rem;
    width: 2.75rem;
    margin: 0 0.25rem;
    transition: 0.3s;
    overflow: hidden;
}
.nav-btn-wrap button:hover {
    color: white;
    border: 0.25rem double white;
}
.nav-btn-wrap button:disabled {
    color: #43494c;
    border: 0.125rem solid #434343;
    cursor: auto;
}

.user-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: calc(100vh - 8.5rem);
    max-height: 69rem;
    overflow: hidden;
}

.user-wrap {
    width: 25%;
    transition: width 0.5s;
    -webkit-animation: fadeIn 0.3s ease-out;
    animation: fadeIn 0.3s ease-out;
}
.user {
    margin: 0 auto 0.25rem;
    height: 2.5rem;
    display: flex;
    background-color: #1B1E20;
    color: #595B5C;
    width: 96%;
    box-sizing: border-box;
    transition: 0.3s;
}
.user .emblem {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: rgba(0%, 0%, 0%, 0.2);
    flex: 0 0 auto;
}
.user.error .emblem {
    background-image: linear-gradient(45deg, #232729 50%, #2B2E31 50%);
}
.user .emblem img {
    width: inherit;
    user-select: none;
}
.emblem img[src=""] {
    display: none;
}
.user.me {
    border-bottom: 0.125rem solid #9f9f9f;
}
.user .display-name {
    padding: 0 0.5em;
    box-sizing: border-box;
    line-height: 2.5rem;
    font-size: 1.1em;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.user .copy {
    border: none;
    outline: none;
    display: none;
    margin-left: 1em;
    margin-right: 0.2em;
    color: white;
    background-color: transparent;
    flex-shrink: 0;
    transition: opacity 0.2s;
}
.loading .copy {
    color: #9f9f9f;
    opacity: 0;
    visibility: hidden;
}

.hide {
    display: none;
    opacity: 0;
}

.online {
    color: white;
    background-color: rgb(48, 55, 100);
}
.error {
    background-color: #313639;
    color: #9f9f9f;
}

.online .copy {
    display: block;
}

.copy {
    display: none;
    cursor: pointer;
}
.copy:active {
    transform: scale(0.9);
}
.copied::before {
    content: "Copied!!";
    font-family: 'Spoqa Han Sans Neo', 'Noto Sans CJK KR Regular', 'sans-serif';
    font-size: 1rem;
    position: absolute;
    margin-top: -0.25rem;
    margin-left: -6.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: #181a1b;
    color: #FFFFFF;
    opacity: 0;
    animation: popup 2s;
}

/* /update-log */
.update-log {
    padding-top: 2rem;
}
.update-log ul {
    list-style: disc;
    padding-inline-start: 30px;
}

/* / (root) */
section.root {
    /* height: 100vh; */
    margin-bottom: 4rem;
    padding: 0;
}
section.root * {
    text-align: center;
}
.media {
    box-sizing: border-box;
    border: 0.25rem solid #dddddd;
    border-radius: 0.5rem;
    padding: 0.25rem;
    margin: 2rem 0 1rem;
    display: block;
    object-fit: contain;
    width: 100%;
    max-width: 45rem;
}
.r0 {
    height: calc(100vh - 3.5rem);
}
.r0-bg {
    height: 100vh;
    background-color: #4a56a8;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.r0  .item-wrap > * {
    margin: 0.25rem 0;
}
.item-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    flex-wrap: wrap;
    /* overflow: hidden; */
}
.r0-logo {
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.r0-logo img {
    width: 6rem;
    height: 6rem;
}
.r0-intro {
    text-align: center;
}
.r0-nav {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}
.r0-nav a {
    background-color: transparent;
    border: 0.125rem solid #FFFFFF;
    border-radius: 0.25rem;
    color: #FFFFFF;
    margin: 0.25rem 0.25rem 0;
    padding: 0.5rem;
    box-sizing: border-box;
}
.r0-nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.r0-version {
    align-self: flex-end;
    font-size: 0.75rem;
    padding: 0 0.25rem;
}
@media only screen and (max-width: 25rem) {
    .r0-logo {
        flex-direction: column;
        font-size: 3rem;
    }
    .r0-logo img {
        width: 8rem;
        height: 8rem;
    }
}
/* /request */
.clan-container {
    width: 100%;
    margin: 1.75rem 0;
    padding: 1.5rem;
    box-sizing: border-box;
    border: 0.125rem solid #dddddd;
    display: flex;
    flex-direction: column;
}
.clan-container > * {
    margin: 0.5rem 0;
}
.clan-container .clan-title {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
}
.clan-container .clan-motto {
    font-size: 1.25rem;
}
.request-clan-bar {
    display: flex;
    height: 2rem;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.request-clan-bar > * {
    margin: 0 0.25rem;
}
.clan-member-count {
    font-size: 1.25rem;
}
.link-btn {
    font-size: 1.125rem;
    line-height: 2rem;
    display: flex;
    align-items: center;
    color: #9f9f9f;
}
.link-btn a.material-icons {
    font-size: 1.5rem;
}
.request-btn {
    box-sizing: border-box;
    height: 2rem;
    transition: 0.3s;
    padding: 0 0.25rem;
}
.request-btn:hover {
    border-color: #4a56a8;
}
.request-btn:disabled {
    border-color: #434343;
    background-color: transparent;
    color: #43494c;
}
.btn.material-icons {
    box-sizing: border-box;
    border: 0.125rem solid #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    width: 2.5rem;
    height: 2.5rem;
    flex: 0 0 2.5rem;
}
.btn.material-icons:hover {
    background-color: #434343;
}

/* /setting */
.radio-box {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.radio-box > * {
    margin-bottom: 0.5rem;
}
.command-box {
    padding: 0.25rem;
}
.cmd-line {
    display: flex;
}
.cmd-input {
    background-color: #FFFFFF20;
    border: none;
    color: inherit;
    padding: 0.25rem;
    border-radius: 0.25rem;
    margin-right: 0.5em;
    min-width: 2.5em;
    width: auto;
    transition: background-color 0.5s, color 0.5s, width 100ms;
}
.cmd-input:focus {
    outline: none;
    background-color: #FFFFFF30;
}
.cmd-input:read-only {
    color: #9f9f9f;
    background-color: #FFFFFF10;
}
.cmd-label {
    font-size: 1rem;
    display: block;
    margin-bottom: 0.25rem;
}
.cmd-text {
    color: #9f9f9f;
    line-height: 1.75rem;
}
.cmd-text.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;
}

/* 작은화면들 */

@media only screen and (max-width: 90rem){
    .user-wrap {
        width: 33.33%;
    }
}
@media only screen and (max-width: 60rem) {
    .user-wrap {
        width: 50%;
    }
}
@media only screen and (max-width: 40rem) {
    .hide-small {
        display: none;
    }
    .col.clan-motto {
        display: none;
    }
    .user-wrap {
        width: 100%;
    }
    .nav-online .info-online {
        display: none;
    }
    .clan-container .clan-title {
        font-size: 1.5rem;
    }
    /* mobile optimization */
    article {
        font-size: 1rem;
    }
    .clan-list {
        font-size: 1rem;
    }
    .clan-info {
        margin: 0.25rem 0;
    }
    .clan-info-row {
        line-height: 1.5rem;
        height: 2.25rem;
    }
    .col.clan-icon {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 40rem) {
    .nav-info .info-online {
        visibility: hidden;
        order: -1;
    }
}
