{% extends 'layout.html' %}

{% block header %}
<div class="container">
  <h3><a href="/">dcde.ga (β)</a> / {{ clan_data["name"] }} [{{ clan_data["callsign"] }}]</h3>
</div>
{% endblock %}

{% block content %}
<!-- <div class="clan-search">
  <input type="search" name="clan_name" id="clan_name" placeholder="유저 검색하기">
</div> -->
<div class="user-nav">
  <div class="nav-online">
    <h2 class="info-online"></h2>
  </div>
  <div class="nav-info">
    <div class="info-page"></div>
    <div class="info-online"></div>
  </div>
  <div class="nav-btn-wrap">
    <button id="refresh" class="material-icons" disabled>refresh</button>
    <button id="prevPage" class="material-icons" disabled>arrow_back</button>
    <button id="nextPage" class="material-icons" disabled>arrow_forward</button>
  </div>
</div>
<div class="user-list-wrapper">
  <div class="user-list">
    <!-- <div class="user-wrap">
      <div class="user">
        <div class="emblem"></div>
        <div class="display-name">테스트</div>
        <button class="copy" data-clipboard-text="">복사</button>
      </div>
    </div> -->
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    const groupId = "{{clan_data['id']}}";
    getClanOnlineMembers(groupId);
    $("#prevPage").click(prevPage);
    $("#nextPage").click(nextPage);
    $("#refresh").click(refreshMembers);
  });

  $(window).resize(function () {
    setPage(CURRENT_PAGE);
  })
</script>
{% endblock %}
