{% extends 'layout.html' %}

{% block title %}{{ super()}} / {{clan_data["name"]}}{% endblock %}
{% block meta %}<meta name="robots" content="noindex">{% endblock %}

{% block header %}
{{ super()}}
<div class="nav-path"><a href="/clan">
  <div class="clan-name">/ {{ clan_data["name"] }}</div>
  <div class="clan-callsign">{{ clan_data["callsign"] }}</div>
</a></div>
<div class="nav-path nav-icon"><a href="https://www.bungie.net/ko/ClanV2?groupid={{ clan_data['id'] }}" class="material-icons" target="_blank" data-icon="link"></a></div>
{% endblock %}

{% block content %}
<div class="user-nav">
  <div class="nav-online">
    <h2 class="info-online">로드중...</h2>
  </div>
  <div class="nav-info">
    <div class="info-page"></div>
    <div class="info-online"></div>
  </div>
  <div class="nav-btn-wrap">
    <button id="refresh" class="material-icons" disabled data-icon="refresh"></button>
    <button id="prevPage" class="material-icons" disabled data-icon="arrow_back"></button>
    <button id="nextPage" class="material-icons" disabled data-icon="arrow_forward"></button>
  </div>
</div>
<div class="user-list">
  {% for _ in range(clan_data.get("memberCount", 0)) %}
  <div class='user-wrap'>
    <div class='user'>
      <div class='emblem'></div>
      <div class='display-name'></div>
      <button class='copy material-icons' data-sid='' data-icon=''></button>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    const groupId = "{{clan_data['id']}}";
    initMembers(groupId);
    $("#prevPage").click(prevPage);
    $("#nextPage").click(nextPage);
    $("#refresh").click(refreshMembers);
    if (getAutoUpdateSetting()) {
      document.addEventListener("visibilitychange", function () {
        if (!document.hidden) refreshMembers();
      }, false);
    }
    window.addEventListener("keydown", function (e) {
      switch (e.code) {
        case "KeyA":
        case "ArrowLeft":
          prevPage()
          break;
        case "KeyD":
        case "ArrowRight":
          nextPage();
          break;
        case "KeyR":
          refreshMembers();
          break;
      }
    })
    ctrlObserverInit();

    if (mode === "direct") {
      generateModal(
        "<span class=\"material-icons\" data-icon=\"warning\"></span> 경고!",
        "<b>바로 합류</b> 기능이 사용하는 방식을 오&middot;남용하여 이용 금지 및 제한 조치를 받은 사례가 존재합니다. <b class='red'>절대</b> 합의되지 않은 수호자의 화력팀에 합류하기 위한 용도로 <b>dega.kr</b>을 사용하지 마세요. 해당 기능을 사용해 생기는 문제에 대하여 <b>dega.kr</b>은 어떠한 책임도 지지 않습니다.<br>" +
        "만약 무고하게 이용 금지 또는 제한 조치를 받은 경우 Bungie.net에서 <a href='https://help.bungie.net/hc/ko/articles/360049024492' class='url'>이의 제기</a>를 할 수 있습니다. <br><br>" +
        "이 경고는 <b>바로 합류</b> 모드를 사용중일때만 표시됩니다. 합류 명령어를 복사하는 방식으로 이용하고 싶으시다면 <a href='/setting' class='url'>설정</a> 페이지에서 <b>모드 설정</b> 부분을 <code>복사</code>로 변경해주세요.",
        "닫기");
    }
  });

  $(window).resize(function () {
    setPage(CURRENT_PAGE);
  });
</script>
{% endblock %}
