{% extends 'layout.html' %}

{% block title %}{{ super()}} / {{clan_data["name"]}}{% endblock %}
{% block meta %}<meta name="robots" content="noindex">{% endblock %}

{% block header %}
<div class="nav-icon"><a href="/"><img src="/static/img/icon-transparent.svg" alt="icon"></a></div>
<div class="nav-logo hide-small"><a href="/">dega.kr</a></div>
<div class="nav-path"><a href="/clan">
  <div class="clan-name">/ {{ clan_data["name"] }}</div>
  <div class="clan-callsign">{{ clan_data["callsign"] }}</div>
</a></div>
<div class="nav-path nav-icon"><a href="https://www.bungie.net/ko/ClanV2?groupid={{ clan_data['id'] }}" class="material-icons" target="_blank">link</a></div>
{% endblock %}

{% block content %}
<div class="user-nav">
  <div class="nav-online">
    <h2 class="info-online">로드중...</h2>
  </div>
  <div class="nav-info">
    <div class="info-page"></div>
    <div class="info-online"></div>
  </div>
  <div class="nav-btn-wrap">
    <button id="refresh" class="material-icons" disabled>refresh</button>
    <button id="prevPage" class="material-icons" disabled>arrow_back</button>
    <button id="nextPage" class="material-icons" disabled>arrow_forward</button>
  </div>
</div>
<div class="user-list">
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    const groupId = "{{clan_data['id']}}";
    getClanOnlineMembers(groupId);
    $("#prevPage").click(prevPage);
    $("#nextPage").click(nextPage);
    $("#refresh").click(refreshMembers);
    document.addEventListener("visibilitychange", function () {
        if (!document.hidden) refreshMembers();
    }, false);
    window.addEventListener("keydown", function (e) {
      switch (e.code) {
        case "KeyA":
        case "ArrowLeft":
          prevPage()
          break;
        case "KeyD":
        case "ArrowRight":
          nextPage();
          break;
        case "KeyR":
          refreshMembers();
          break;
      }
    })
  });

  $(window).resize(function () {
    setPage(CURRENT_PAGE);
  });
</script>
{% endblock %}
