{% extends 'layout.html' %}

{% block title %}{{ super()}} / 클랜 목록{% endblock %}

{% block header %}
<div class="nav-icon"><a href="/"><img src="/static/img/icon-transparent.svg" alt="icon"></a></div>
<div class="nav-logo hide-small"><a href="/">dcde.ga</a></div>
<div class="nav-path"><a href="/clan">/ 클랜 목록</a></div>
{% endblock %}

{% block content %}
<div class="clan-search">
  <input type="search" name="clan_search" id="clan_search" placeholder="클랜 검색하기">
</div>
<div class="clan-nav">
  <div>정렬 방식 :</div>
  <select name="clan-sort" id="clan-sort" onchange="sortClanList(this);">
    <option value="" disabled selected>선택</option>
    <option value="nameASC">이름 ↑</option>
    <option value="nameDESC">이름 ↓</option>
    <option value="idASC">창설일 ↑</option>
    <option value="idDESC">창설일 ↓</option>
  </select>
</div>
<ul class="clan-list">
  {% for clan_id, clan in clan_data.items() %}
  <li class="clan-info">
    <a href="/clan/{{ clan_id }}">
      <ul class="clan-info-row">
        <li class="col clan-icon">▷</li>
        <li class="col clan-name">{{ clan["name"] }}</li>
        <li class="col clan-callsign">{{ clan["callsign"] }}</li>
        <li class="col clan-motto">{{ clan["motto"] }}</li>
      </ul>
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    $("#clan_search").on('input', function () {
        filterClanList($(this).val());
    })
  });
</script>
{% endblock %}