<!DOCTYPE html>
<html lang="ko">
<head>
  {% include "tracker.html" %}
  {% set title_s %}{% block title %}dega.kr{% endblock %}{% endset %}
  <meta charset="UTF-8">
  <!-- Favicon / icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/icon/favicon-16x16.png">
  <link rel="manifest" href="/static/icon/site.webmanifest">
  <link rel="mask-icon" href="/static/icon/safari-pinned-tab.svg" color="#4a56a8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <meta name="msapplication-TileColor" content="#4a56a8">
  <meta name="msapplication-config" content="/static/icon/browserconfig.xml">
  <meta name="theme-color" content="#4a56a8">
  <!-- meta -->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="데스티니 가디언즈 클랜원 합류 코드 쉽게 복사하기">
  <meta name="keywords" content="데스티니,데스티니 가디언즈,데스티니 2,Destiny 2,합류코드">
  {% block meta %}{% endblock %}
  <!-- opengraph -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title_s }}">
  <meta property="og:url" content="https://dega.kr{{ request.path }}">
  <meta property="og:image" content="https://dega.kr/static/img/background.png">
  <meta property="og:description" content="데스티니 가디언즈 클랜원 합류 코드 쉽게 복사하기">
  <meta property="og:locale" content="ko_KR">
  <meta property="og:site_name" content="dega.kr">
  <!-- twitter cards -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ title_s }}">
  <meta name="twitter:image" content="https://dega.kr/static/img/background.png">
  <meta name="twitter:description" content="데스티니 가디언즈 클랜원 합류 코드 쉽게 복사하기">
  <!-- css -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spoqa-han-sans/3.1.0/css/SpoqaHanSans-kr.min.css" integrity="sha512-haleeL7F13G/OtxXT5mZbGVcwUG/d7j1hWMSyBBX7654Az/Ps1Bw+ASsxsn4zbMjGszL75aoEdYXGyOjakONYg==" crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/normalize.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <!-- only for April fool's day -->
  <link rel="stylesheet" href="/static/fool.css">
  <title>{{ title_s }}</title>
</head>
<body>
  {% include "tracker2.html" %}
  <header>
    <nav class="container">
      {% block header %}
      <div class="nav-icon"><a href="/"><img src="/static/img/icon-transparent.svg" alt="icon"></a></div>
      <div class="nav-logo"><a href="/">dega.kr</a></div>
      {% endblock %}
    </nav>
  </header>

  <main>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
  <script src="/static/degakr.js"></script>
  {% block script %}{% endblock %}
</body>
</html>