{% extends 'layout.html' %}

{% block title %}{{ super() }} / 클랜 등록{% endblock %}

{% block header %}
<div class="nav-icon"><a href="/"><img src="/static/img/icon-transparent.svg" alt="icon"></a></div>
<div class="nav-logo hide-small"><a href="/">dega.kr</a></div>
<div class="nav-path">
  <a href="/request">/ 클랜 등록</a>
</div>
{% endblock %}

{% block content %}
<article>
  <h2>👀 먼저 읽어주세요!</h2>
  <ol>
    <li>여기서 클랜 신규 등록이나 수동 갱신을 할 수 있어요.</li>
    <li>아래에 등록하고자 하는 클랜의 이름을 <b>정확히</b> 입력한 다음 상자 우하단의 <b>클랜 등록</b> 버튼을 누르면 신청이 완료돼요.</li>
    <li>별도의 인증은 필요 없지만, 악용을 방지하기 위해 클랜원 수가 10명이 넘는 클랜만 등록이 가능해요.</li>
    <li>신청이 완료되면, 몇 분 이내로 <a href="/clan" class="url">클랜 목록</a> 페이지에서 볼 수 있어요.</li>
    <li>하루에 한번, 등록된 모든 클랜의 정보 갱신을 진행하고 있어요. 만약 수동으로 갱신하고 싶다면 클랜 등록 절차를 한번 더 진행해주시면 됩니다.</li>
  </ol>
</article>
<form class="clan-search">
  <input type="search" id="clan-search" placeholder="클랜 이름을 정확히 입력해주세요." autocomplete="off">
  <input type="submit" class="btn material-icons" value="search">
</form>
<div class="clan-container" style="display: none;">
  <div class="clan-title">
    <div class="clan-name"></div>
    <div class="clan-callsign"></div>
  </div>
  <div class="clan-motto"></div>
  <div class="request-clan-bar">
    <p class="clan-member-count"></p>
    <p>&middot;</p>
    <a href="#" class="link-btn" target="_blank"><span class="material-icons">link</span><span>클랜 페이지</span></a>
    <p>&middot;</p>
    <button class="request-btn" onclick="clanAddRequest(this);">등록 신청</button>
  </div>
</div>
<div class="error-msg-box">
  <h2>클랜을 검색해주세요.</h2>
</div>
{% endblock %}

{% block script %}
<script>
  $("form.clan-search").on("submit", searchSubmit);
</script>
{% endblock %}
