{% extends 'layout.html' %}

{% block header %}
<div class="container">
  <h1>dcde.ga (β)</h1>
  <p>데스티니 가디언즈 클랜원 합류 코드 쉽게 복사하기</p>
</div>
{% endblock %}

{% block content %}
<h3><a href="/clan">dcde.ga (β) / 클랜 목록 바로가기 (클릭)</a></h3>
<h4>Current version. 0.1.2</h4>

<div>
  <h3>patch log</h3>

  <h4>v0.1.2</h4>
  <ul style="list-style: disc; padding-inline-start: 30px;">
    <li>클랜 멤버 정렬 오류 문제 해결</li>
    <li>클랜 모토의 따옴표가 잘려 나오던 <b>심각한</b> 문제 해결</li>
    <li>오프라인 유저에게도 복사 버튼이 나오던 문제 해결</li>
    <li>클랜 멤버 새로고침 버튼 추가</li>
    <li>클랜 검색 기능 활성화</li>
  </ul>

  <h4>v0.1.1</h4>
  <ul style="list-style: disc; padding-inline-start: 30px;">
    <li>긴 닉네임의 표시 방식 개선</li>
    <li>클랜 이름과 모토 표시 방식 개선</li>
    <li>아이콘 추가 및 CSS 애니메이션 일부 적용</li>
    <li>패치 로그 추가</li>
  </ul>

  <h4>v0.1.0</h4>
  <ul style="list-style: disc; padding-inline-start: 30px;">
    <li>dcde.ga (β) 베타 서비스 시작</li>
  </ul>
</div>

<p>&copy; 2020. Krepe (krepe-suZette) all rights reserved.</p>
{% endblock %}
