{% extends 'layout.html' %}

{% block header %}
{% endblock %}

{% block content %}
<section id="title" class="root r0">
  <div class="r0-bg">
    <div class="item-wrap">
      <div class="r0-logo">
        <img src="/static/img/icon-transparent.svg" alt="icon">
        <span>dega.kr</span>
      </div>
      <div class="r0-intro">데스티니 가디언즈 클랜원에게 바로 합류하기</div>
      <div class="r0-nav">
        <a href="/clan">클랜 찾기</a>
        <a href="/request">클랜 등록</a>
        <a href="/help">도움말</a>
        <a href="/update-log">업데이트 기록</a>
        <a href="/faq">FAQ</a>
      </div>
      <div class="r0-version">
        <span>{{ last_update }} <b><a href="/update-log">v{{ version }}</a></b></span>
      </div>
    </div>
  </div>
</section>
<section id="easy2use" class="root">
  <div class="item-wrap">
    <video src="/static/video/refresh.mp4" loop autoplay muted class="media"></video>
    <h2>간단한 디자인, 쉬운 사용</h2>
    <p>회색 상자로만 보이는 클랜원은 이제 안녕!<br />게임 내 UI와 유사한, 익숙한 디자인을 채용<br />버튼 클릭 한번으로 클랜원에게 합류 가능.</p>
  </div>
</section>
<section id="steamOverlay" class="root">
  <div class="item-wrap">
    <img src="/static/img/steam-overlay.png" alt="steam-overlay" class="media">
    <h2>스팀 오버레이 웹 브라우저 완벽 지원</h2>
    <p><a href="https://support.steampowered.com/kb_article.php?ref=9394-yofv-0014&l=korean" class="url">스팀 오버레이</a>의 웹 브라우저로 게임 내 클랜원 목록만큼 빠른 사용.</p>
  </div>
</section>
<section id="contact" class="root">
  <h2>Contact</h2>
  <p><a href="https://github.com/krepe-suZette" class="url">GitHub</a> / <a href="mailto:krepe90@gmail.com" class="url">eMail</a> / Krepe#4364 (discord) / <a href="https://steamcommunity.com/id/krepe90/" class="url">Steam</a> / <a href="https://twitter.com/krepe_suZette" class="url">Twitter</a></p>
  <p>&copy; 2020~2021. Krepe.Z (krepe-suZette) all rights reserved.</p>
</section>
{% endblock %}
