{% extends 'layout.html' %}

{% block header %}
{% endblock %}

{% block content %}
<section id="title" class="root r0">
  <div class="r0-bg">
    <video class="r0-bg-video" autoplay loop muted oncontextmenu="return false;">
      <source src="/static/zico_ns.mp4">
    </video>
    <div class="item-wrap">
      <div class="r0-logo">
        <img src="/static/img/icon-transparent.svg" alt="icon">
        <span>dega.kr</span>
      </div>
      <div class="r0-intro"><b style="color: #ffd84b;">데스티니<br>가디언즈</b>에 <b><a href="https://www.youtube.com/watch?v=n7oIBs3nNGY">합류</a></b>하라</div>
      <div class="r0-nav">
        <a href="/clan">클랜 찾기</a>
        <a href="/request">클랜 등록</a>
        <a href="/help">이용방법</a>
        <a href="/update-log">업데이트 기록</a>
        <a href="/faq">FAQ</a>
      </div>
    </div>
  </div>
</section>
<section id="easy2use" class="root">
  <div class="item-wrap">
    <img src="/static/img/1.png" alt="intro" class="desc-img">
    <h2>복사, 붙여넣기 한번이면 끝</h2>
    <p>복사 버튼 클릭 한번, 데스티니 채팅창에 Ctrl+V 한번이면 합류 완료!<br />한글 입력을 못해도 쉽게 사용 가능.</p>
  </div>
</section>
<section id="steamOverlay" class="root">
  <div class="item-wrap">
    <img src="/static/img/2.png" alt="intro" class="desc-img"> 
    <h2>스팀 오버레이 웹 브라우저 완벽 지원</h2>
    <p><a href="https://support.steampowered.com/kb_article.php?ref=9394-yofv-0014&l=korean" class="url">스팀 오버레이</a> 의 웹 브라우저로 창 전환 없이 게임 중 바로 접속하기.</p>
  </div>
</section>
<section id="contact" class="root">
  <h2>Contact</h2>
  <p><a href="https://github.com/krepe-suZette" class="url">GitHub</a> / <a href="mailto:krepe90@gmail.com" class="url">eMail</a> / Krepe#4364 (discord) / <a href="https://steamcommunity.com/id/krepe90/" class="url">Steam</a> / <a href="https://twitter.com/krepe_suZette" class="url">Twitter</a></p>
  <p>&copy; 2020~2021. Krepe.Z (krepe-suZette) all rights reserved.</p>
</section>
{% endblock %}
