{% extends 'layout.html' %}

{% block title %}{{ super() }} / 설정{% endblock %}

{% block header %}
<div class="nav-icon"><a href="/"><img src="/static/img/icon-transparent.svg" alt="icon"></a></div>
<div class="nav-logo hide-small"><a href="/">dega.kr</a></div>
<div class="nav-path">
  <a href="/setting">/ 설정</a>
</div>
<div class="nav-right">
  <div class="nav-path nav-setting">
    <a href="/setting" class="material-icons" data-icon="settings"></a>
  </div>
</div>
{% endblock %}

{% block content %}
<article>
  <h2><i class="material-icons" data-icon="settings"></i> 모드 설정</h2>
  <div class="radio-box">
    <label><input type="radio" name="mode" value="direct" id="mode_direct" onchange="setMode('direct');"> 바로 합류</label>
    <label><input type="radio" name="mode" value="copy" id="mode_copy" onchange="setMode('copy');"> 복사</label>
  </div>

  <h2><i class="material-icons" data-icon="language"></i> 명령어 복사 언어 설정</h2>
  <div class="radio-box">
    <div class="command-box">
      <label for="cmd_join" class="cmd-label">합류 명령어</label>
      <div class="cmd-line"><span class="cmd-text">/</span><input type="text" class="cmd-input" id="cmd_join" value="" placeholder="합류" onchange="textSetCmdPrefix()"><span class="cmd-text ellipsis">76561190000000000</span></div>
    </div>
    <div class="command-box">
      <label for="cmd_invite" class="cmd-label">초대 명령어</label>
      <div class="cmd-line"><span class="cmd-text">/</span><input type="text" class="cmd-input" id="cmd_invite" value="" placeholder="초대" onchange="textSetCmdPrefix()"><span class="cmd-text ellipsis">76561190000000000</span></div>
    </div>
    <label><input type="radio" name="lang" value="ko" onchange="radioSetCmdPrefix(this);"> <b>한국어</b> (합류/초대)</label>
    <label><input type="radio" name="lang" value="en" onchange="radioSetCmdPrefix(this);"> <b>영어</b> (join/invite)</label>
    <label><input type="radio" name="lang" value="" onchange="enableCmdBox();"> 직접 입력</label>
  </div>

  <h2><i class="material-icons" data-icon="arrow_back"></i> <a onclick="window.history.back();" class="url">돌아가기</a></h2>


</article>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    let m = getMode();
    if (m === "direct") $("#mode_direct").prop("checked", true);
    else if (m === "copy") $("#mode_copy").prop("checked", true);

    initCommandPrefix();
  })
</script>
{% endblock %}
