{% extends 'layout.html' %}

{% block title %}{{ super() }} / 설정{% endblock %}

{% block header %}
{{ super() }}
<a href="/setting" class="nav-path">/ 설정</a>
{% endblock %}

{% block content %}
<article>
  <h2><i class="material-icons" data-icon="settings"></i> 모드 설정</h2>
  <div class="radio-box">
    <label><input type="radio" name="mode" value="direct" id="mode_direct" onchange="setMode('direct'); directModeModal();"> 바로 합류 <b class="red"><span class="material-icons" data-icon="warning" style="font-size: 1em; vertical-align: bottom;"></span> 경고!!</b></label>
    <label><input type="radio" name="mode" value="copy" id="mode_copy" onchange="setMode('copy');"> 복사</label>
  </div>

  <h2><i class="material-icons" data-icon="language"></i> 명령어 복사 언어 설정</h2>
  <div class="radio-box">
    <div class="command-box">
      <label for="cmd_join" class="cmd-label">합류 명령어</label>
      <div class="cmd-line"><span class="cmd-text">/</span><input type="text" class="cmd-input" id="cmd_join" value="" placeholder="합류" onchange="textSetCmdPrefix()"><span class="cmd-text ellipsis">76561190000000000</span></div>
    </div>
    <div class="command-box">
      <label for="cmd_invite" class="cmd-label">초대 명령어</label>
      <div class="cmd-line"><span class="cmd-text">/</span><input type="text" class="cmd-input" id="cmd_invite" value="" placeholder="초대" onchange="textSetCmdPrefix()"><span class="cmd-text ellipsis">76561190000000000</span></div>
    </div>
    <label><input type="radio" name="lang" value="ko" onchange="radioSetCmdPrefix(this);"> <b>한국어</b> (합류/초대)</label>
    <label><input type="radio" name="lang" value="en" onchange="radioSetCmdPrefix(this);"> <b>영어</b> (join/invite)</label>
    <label><input type="radio" name="lang" value="" onchange="enableCmdBox();"> 직접 입력</label>
  </div>

  <h2><i class="material-icons" data-icon="person_add"></i> 내 정보 등록</h2>
  <p>아래에 자신의 SteamID64(합류코드)를 적으면 클랜원 목록에서 내가 강조되어 표시됩니다.</p>
  <div class="command-box">
    <label for="my_steamid" class="cmd-label">SteamID (합류코드)</label>
    <div class="cmd-line"><input type="text" class="cmd-input" id="my_steamid" value="" placeholder="765611..." onchange="setMySteamID(this.value)"></div>
  </div>

  <h2><i class="material-icons" data-icon="update"></i> 창 활성화시 업데이트</h2>
  <div class="radio-box">
    <label for="active_window_update">
      <input type="checkbox" id="active_window_update"> 창이 다시 활성화됐을 때 자동으로 업데이트를 시도
    </label>

  </div>


  <h2><i class="material-icons" data-icon="arrow_back"></i> <a onclick="window.history.back();" class="url">돌아가기</a></h2>


</article>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    let m = getMode();
    if (m === "direct") $("#mode_direct").prop("checked", true);
    else if (m === "copy") $("#mode_copy").prop("checked", true);

    initCommandPrefix();
    $("#my_steamid").val(getMySteamID())
    document.getElementById("active_window_update").checked = getAutoUpdateSetting();
    document.getElementById("active_window_update").onchange = function () { setAutoUpdateSetting(this.checked) };
  })

  function directModeModal() {
    generateModal(
      "<span class=\"material-icons\" data-icon=\"warning\"></span> 경고!",
      "<b>바로 합류</b> 기능이 사용하는 방식을 오&middot;남용하여 이용 금지 및 제한 조치를 받은 사례가 존재합니다. <b class='red'>절대</b> 합의되지 않은 수호자의 화력팀에 합류하기 위한 용도로 <b>dega.kr</b>을 사용하지 마세요. 해당 기능을 사용해 생기는 문제에 대하여 <b>dega.kr</b>은 어떠한 책임도 지지 않습니다.<br>" +
      "만약 무고하게 이용 금지 또는 제한 조치를 받은 경우 Bungie.net에서 <a href='https://help.bungie.net/hc/ko/articles/360049024492' class='url'>이의 제기</a>를 할 수 있습니다.",
      "확인");
  }
</script>
{% endblock %}
