{% extends 'layout.html' %}

{% block header %}
<div class="nav-icon"><a href="/"><img src="/static/img/icon-transparent.svg" alt="icon"></a></div>
<div class="nav-logo hide-small"><a href="/">dega.kr</a></div>
<a href="/update-log" class="nav-path">/ 업데이트 기록</a>
{% endblock %}

{% block content %}

<div class="update-log">
  <strong>Current version: v0.4.1</strong>

  <h3>patch log</h3>
  <h4>v0.4.2</h4>
  <ul>
    <li>상단 header 간격 추가 수정</li>
    <li>직관적으로 하이퍼링크 표시하도록 변경</li>
  </ul>
  <h4>v0.4.1</h4>
  <ul>
    <li>폰트 적용: <a href="https://spoqa.github.io/spoqa-han-sans/ko-KR/" class="url">Spoqa Han Sans</a> 사용</li>
    <li>좌우 여백 폭 개선</li>
    <li>눈치채지 못했을 미묘하게 불편한 CSS 수정 (글씨 잘림, 아이콘 위치, 공백 폭 등)</li>
    <li>클랜원 목록 페이지에서 Fade-in 애니메이션 추가</li>
    <li>한국어 문법 수정</li>
  </ul>
  <h4>v0.4.0</h4>
  <ul>
    <li>사이트 이름 <b>dega.kr</b>로 변경</li>
    <li>/help 페이지 개선 (클랜 등록 신청 방법)</li>
    <li>유저 목록 페이지를 최소화했다가 다시 열 때 자동 새로고침 기능 추가</li>
    <li>삭제된 클랜 목록에서 자동으로 제거</li>
    <li>내부 구조 개선 및 최적화</li>
  </ul>
  <h4>v0.3.2</h4>
  <ul>
    <li>클랜 업데이트 자동화, 백엔드 관리 개선</li>
    <li>FAQ 페이지 생성</li>
  </ul>
  <h4>v0.3.1</h4>
  <ul>
    <li>클랜 목록 페이지 title 수정</li>
    <li>css 일부 개선</li>
    <li>정적 컨텐츠 용량 최적화</li>
  </ul>
  <h4>v0.3.0</h4>
  <ul>
    <li>css 최적화
      <ul>
        <li>header 레이아웃 변경, 아이콘 추가</li>
        <li>반응형 레이아웃의 반응 기준점 수정</li>
        <li>한 행에 보여질 수 있는 최대 인원수 설정</li>
      </ul>
    </li>
    <li>클랜 목록 페이지 개선
      <ul>
        <li>정렬 기능 추가 (기본값: 등록 순서, 정렬 가능한 방식: 이름, 창설일)</li>
      </ul>
    </li>
    <li>클랜 페이지에서 번지넷의 클랜 소개로 가는 링크 추가</li>
    <li>메인 화면 재구성</li>
    <li>업데이트 기록 페이지 분리 (<a href="/update-log" class="url">/update-log</a>)</li>
    <li>이용 안내 페이지 추가 (<a href="/help" class="url">/help</a>)</li>
    <li>FAQ 페이지 추가 (<a href="/faq" class="url">/faq</a>)</li>
    <li>클랜 등록 요청 페이지 추가 (<a href="/request" class="url">/request</a>)</li>
    <li>클랜 등록/업데이트 시 서버에 자동 적용</li>
    <li>beta 표시 제거. 별 문제 없으면 1.0.0으로 갈 예정.</li>
    <li>기타 만들어놨는데 기억은 안나는 각종 변경사항들</li>
  </ul>
  <h4>v0.2.0</h4>
  <ul>
    <li>파비콘 및 아이콘 추가</li>
    <li>Opengraph, Twitter Card 대응</li>
  </ul>

  <h4>v0.1.4</h4>
  <ul>
    <li>내부 구조 일부 개선</li>
    <li>404 페이지 추가</li>
  </ul>

  <h4>v0.1.3</h4>
  <ul>
    <li>새로고침 버튼 개선</li>
    <li>온라인 유저 및 현재 페이지 위치 안내 추가</li>
  </ul>

  <h4>v0.1.2</h4>
  <ul>
    <li>클랜 멤버 정렬 오류 문제 해결</li>
    <li>클랜 모토의 따옴표가 잘려 나오던 <b>심각한</b> 문제 해결</li>
    <li>오프라인 유저에게도 복사 버튼이 나오던 문제 해결</li>
    <li>클랜 멤버 새로고침 버튼 추가</li>
    <li>클랜 검색 기능 활성화</li>
  </ul>

  <h4>v0.1.1</h4>
  <ul>
    <li>긴 닉네임의 표시 방식 개선</li>
    <li>클랜 이름과 모토 표시 방식 개선</li>
    <li>아이콘 추가 및 CSS 애니메이션 일부 적용</li>
    <li>패치 로그 추가</li>
  </ul>

  <h4>v0.1.0</h4>
  <ul>
    <li>dcde.ga (β) 베타 서비스 시작</li>
  </ul>
</div>

<p>&copy; 2020-2021. Krepe.Z (krepe-suZette) all rights reserved.</p>
{% endblock %}
